body{
    background: linear-gradient(to bottom,#FFF0CD,#fea858);
    height: 713px;
    width: 1440px;
    overflow-y: hidden;
}
.nav_bar{
position: fixed;
width: 1440px;
height: 120px;
left: 0px;
top: 0px;


}
.logo{
    margin-left: 5px;
}

.nav_bar{
    display: flex;
}

.nav_help{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 450px;
    width: 400px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.content{
    height: 100px;
    width: 1440px;
}

footer{
    position: static;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

.ellipse{
    height: 400px;
    width: 900px;
}